.makeAnAppointmentBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
    min-width: 215px;
    background-color: rgba(16, 57, 49, 1);
    text-wrap: nowrap;
    padding: 14px 28px;
    color: #fbfbfb;
    margin-top: 20px;
}

.makeAnAppointmentBtn:hover {
    border: transparent;
    background-color: rgba(16, 57, 49, 1);
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: rgba(17, 16, 28, 1);
    padding: 5px;
}

.closeBtn:hover {
    color: #000;
    transform: scale(1.1);
    transition: all 0.3s ease;
}